<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpsolution.clipit" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvancedOptions"
            android:label="@string/advanced"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NotifActivity"
            android:label="@string/notification"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" 
            android:taskAffinity=""
            android:excludeFromRecents="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/action_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" 
            android:taskAffinity=""
            android:excludeFromRecents="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" 
            android:taskAffinity=""
            android:excludeFromRecents="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Feedback"
            android:label="@string/action_feedback"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" 
            android:taskAffinity=""
            android:excludeFromRecents="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>         
    </application>

</manifest>
